<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>商品详情</title>
		<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css"/>
		<script src="../static/js/jQury/js/JQ/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
		  <ul class="nav nav-pills" style="margin-left: 140px;">
		  <li role="presentation" class="active"><a href="/">首页</a></li>
		   <li role="presentation" ><a href="/">名著</a></li>
			<li role="presentation" ><a href="/">小说</a></li>
			 <li role="presentation"><a href="/">励志</a></li>
		  {% if userinfo %}
		   <li role="presentation" style="float: right;"><a href="/quit">退出</a></li>
		  <li role="presentation" style="float: right;"><a href="/list">个人收藏</a></li>
		  <li role="presentation" style="float: right;"><a href="#">你好</a></li>
		  <li role="presentation" style="float: right;"><a href="#">{{userinfo}}</a></li>
		  {% else%}
		  <li role="presentation" style="float: right;"><a href="/login">登录</a></li>
		  <li role="presentation" style="float: right;"><a href="/regist">注册</a></li>
		   {% endif %}
		</ul>
	  </div>
	</nav>
		<!-- <ul>
			{% for list in rega %}
			<li>{{list.id}} 书名:{{list.name}} 作者:{{list.author}} 价格:{{list.price}} 用户:{{list.user_id}} </li>
			{% endfor %}
		</ul> -->
		<div class="container" style="border:1px solid moccasin; background-color: #C7DDEF;height: 800px;">
			<h1 style="margin-left: 380px;">欢迎来到收藏列表</h1>
		<div class="table-responsive" style="margin-top: 200px;">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <tr>
                <th>编号</th>
                <th>书名</th>
                <th>作者</th>
                <th>价格</th>
                
				<th>操作</th>
            </tr>
            {% for list in rega %}
                <tr class="success">
                    <td>{{ list.id }}</td>
                    <td>{{ list.name }}</td>
                    <td>{{ list.author }}</td>
                    <td>{{ list.price }}</td>
					
					
                    <td>
                        <button type="button" class="btn-xs btn-warning" onclick="updatebook({{list.id}})">
                            <!-- <a href="#">修改</a> -->
							 <a href="/update/{{ list.id }}">修改</a>
                        </button>
                        <button type="button" class="btn-xs btn-danger">
                            <a href="/list/{{ list.id }}">删除</a>
                        </button>
                    </td>
                </tr>	
				
            {% endfor %}
			 <button type="button" class="btn-xs btn-warning" >
			    <!-- <a href="#">修改</a> -->
				 <a href="/add">添加</a>
			</button>
        </table>
    </div>
		</div>
	</body>
</html>
